doctype html
html(lang="en")
head
    title Show Me
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')

    script(type='text/javascript').
        var _isuser = !{isuser};
        var _roomid = !{roomid};

body
    .container-fluid.main.row.video-container
        video#active-video.video-remote(autoplay='autoplay')
        audio#helper-audio
        canvas#sheet.drawing-surface
        nav.navbar.navbar-inverse.navbar-fixed-bottom(role="navigation")
            .container
                .control-item
                    a#clearCanvas
                        span.glyphicon.glyphicon-trash
                    a#sendInvite
                        span.glyphicon.glyphicon-envelope

    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(type='text/javascript', src='//ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.debug.js')
    script(type='text/javascript', src='//cdn.socket.io/socket.io-1.2.0.js')
    script(type='text/javascript', src='/easyrtc/easyrtc.js')
    script(type='text/javascript', src='/js/chatroom.js')