doctype html
html(lang='en')
    head
        title Left Bolt

        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/leftbolt.css')
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Muli')
        script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
        script(type='text/javascript', src='//ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js')
        script(type='text/javascript', src='/js/index.js')

    body
        section#top.header
            .text-vertical-center
                h1.lb-logo
                    img.logo(src='/img/leftbolt_logo_dark.svg', alt='logo')
                button#startRoom.btn-lb Get Help!
        section#about.about
            .container
                .row
                    .col-lg-12.text-center
                        h2 About
                        p.lead Need help? It's easier and faster to have someone show you. That's where LeftBolt comes in. Simply get a link and send it to anyone that can help. The first person to respond sees what you are seeing, and can tell and show you what you need to know.
                        .row
                            .col-md-4.col-sm-6
                                h3 No Account Required
                                p Simply click to start and invite someone to help you
                            .col-md-4.col-sm-6
                                h3 No Plugins or Installations
                                p Works on most modern browsers (Chrome, Opera, Firefox, and Android). Safari, iOS, and IE - sorry, you are out in the cold, for now.
                            .col-md-4.col-sm-6
                                h3 Safe and Secure
                                p Built using WebRTC. This means all your communication is peer-to-peer and encrypted.
        section#contact.contact
            .container
                .row
                    .col-lg-12.text-center
                        h2 Contact
                        p Contact us at 
                        a(href='mailto:info@leftbolt.com') info@leftbolt.com
    
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-57623852-1', 'auto');
        ga('send', 'pageview');