<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>vLine node.js Example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link type="image/png" href="./images/favicon.png" rel="shortcut icon"/>
  <!-- Le styles -->
  <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }

    .sidebar-nav {
      padding: 9px 0;
    }

    @media (max-width: 980px) {
      /* Enable use of floated navbar text */
      .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  </style>

  <script src="javascripts/jquery-1.10.1.min.js"></script>
  <script src="https://static.vline.com/vline.js" type="text/javascript"></script>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="javascripts/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">vLine node example</a>

      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          | <a href="/logout">Log out </a>
        </p>

        <p class="navbar-text pull-right">
          Logged in as <%= ses.user.name %>&nbsp;
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  var vlineClient = (function() {
    var client,
        authToken = '<%= jwt %>',
        serviceId = '<%= serviceId %>',
        profile = {"displayName": '<%= ses.user.name %>', "id": '<%= ses.user.id %>'};

    var session = null;
    var localPerson = null;
    var localStream = null;
    var REMOTE_USER_ID = 2;

    // Create vLine Client
    client = vline.Client.create({"serviceId": serviceId, "ui": true});
    console.log('vLine client created');

    // Add event handlers
    //client.on('login', onLogin);
    client.on('add:mediaSession', onMediaSession, this);

    // Login
    client.login(serviceId, profile, authToken).
    done(
     function(result) {
      session = s;
      onLogin();
      console.log("Got result: " + result);
     }, this).
   fail(
     function(err) {
      console.log("Got an error: " + err.message);
     }, this);
    console.log('after login');

    // Handle new media session
    function onMediaSession(e) {
      var mediaSession = e.target;
      mediaSession.on('enterState:incoming', onIncomingMedia);
      mediaSession.on('enterState:closed', function(e) {
        localStream && localStream.stop();
      });
    }

    // Auto-accept incoming call
    function onIncomingMedia(e) {
      var mediaSession = e.target;
      mediaSession.start();
      console.log('auto accepting incoming call');
    }

    // Successful login
    function onLogin() {
      console.log('onLogin');
      //session = ses;

      localPerson = session.getLocalPerson();
      console.log(localPerson);

      
      // See if other person is online and start call immediately.
      // The other person will auto accept
      //session.getPerson(REMOTE_USER_ID);
      /*.done(function(p) {

        // This shows a local video while you wait for the other user
        // to show up
        // client.getLocalStream().done(function(s) {
        //   localStream = s;
        //   console.log('Local stream: ' + s.getId());

        //   // NOTE: If you want to layout the video elements in a custom manner, you can use
        //   // stream.createVideoElement() to create a video element here:
        //   // https://vline.com/developer/docs/vline.js/vline.MediaStream#createVideoElement
        // }).fail(function (error) {
        //       console.log('error: ' + error.message + ' type: ' + error.type);
        // });

        startPeerMediaSession(p);

        // If other person is not currently online, this will start the call when they come
        // online
        p.on('change:presenceState', function (e) {
          if (e.val === 'online') {
            console.log('User came online, starting mediasession with: ' + p.getId());
            startPeerMediaSession(p);
          }
        });

      }, this);*/
    }

    // Deterministically call other user, for example userA will always call userB as userA < userB
    function startPeerMediaSession(person) {
      if ((person.getId() != localPerson.getId()) &&
          (person.getId() < localPerson.getId())) {
        if (person.getPresenceState() === 'online') {
          var m = person.startMedia();
          console.log('Started media session with person: ' + person.getId());
        }
      }
    }

    // Remember to stop local stream and logout when you unload page.
    window.addEventListener('beforeunload', function (event) {
      localStream && localStream.stop();
      session && session.logout();
    });

    return client;
  })();

/*
  $(window).unload(function () {
    vlineClient.logout();
  });
*/

</script>

</body>
</html>
