<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DMC Office Window</title>

    <!-- Le styles -->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js"></script>

    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
      }

      .form-signin .form-signin-heading {
        margin-bottom: 10px;
      }
    </style>   

    <script>
      // Infer location
      var locationTimeZone = Intl.DateTimeFormat().resolved.timeZone;
      var loc;
      switch(locationTimeZone){
        case "America/Chicago":
          loc = "Chicago";
          break;
        case "America/New_York":
          loc = "Boston";
          break;
        case "America/Denver":
          loc = "Denver";
          break;
        default:
          loc = "unk";
          break;
      }
      console.log(loc);
      
      // Office picked (on document ready)
      $(function() {
        $("#office_picker_form").on('submit', function(e) {
          // Prevent submit 
          e.preventDefault();

          var $btn = $(document.activeElement);

          if (  $btn.length && 
                $("#office_picker_form").has($btn) && 
                $btn.is('button[type="submit"]') && 
                $btn.is('[data-officeid]')) {

            console.log($btn.attr("data-officeid"));

            $.ajax({
              url: '/checkin',
              type: 'POST',
              contentType: "application/json",
              async: true,
              data: JSON.stringify({officeid: $btn.attr("data-officeid")}),
              success: function(data) {
                if (data.authed) {
                  window.location = "./main";
                }
              }
            });
          }
        });
      })
    </script>
  </head>

  <body>

    <div class="container">

      <form id="office_picker_form" class="form-signin">       

        <div style="text-align: center;">
          <h2 class="form-signin-heading">Pick your office</h2>
          <% for(var i=0; i<offices.length; i++) { %>
            <button class="btn btn-large btn-primary" type="submit" data-officeid="<%=offices[i].name%>"><%=offices[i].name%></button>
          <% } %>
        </div>

      </form>

    </div> <!-- /container -->

  </body>
</html>