
/* Logo */
.lb-logo {
    color: #FFFFFF !important;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    font-weight: 300 !important;
    padding: 50px;
    /*vertical-align: bottom !important;*/
}
.logo{
    width: auto;
    height: 50px;
    vertical-align: middle;
}