/* Header Image Background */

html,
body {
    width: 100%;
    height: 100%;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.text-vertical-center h2 {
    margin: 0;
    padding: 0;
    font-size: 3.5em;
    font-weight: 700;
}

.text-vertical-center h3 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    font-weight: 700;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../img/scubadiver.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
}

/*
 * Main content
 */

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

/*
 * Video formatting
 */

.video-remote {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.drawing-surface {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.navbar {
  text-align: center;
}

.control-item {
  margin-top: 10px;
}
.control-item > a {
  font-size: 1.7em;
  margin-left: 20px;
  margin-right: 20px;
}

/* Logo */
.btn-lb {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 0px;
}

.btn-lb :: hover {
    background: none;
}

.lb-logo {
    color: #FFFFFF !important;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    font-weight: 300 !important;
    padding: 50px;
    /*vertical-align: bottom !important;*/
}
.logo{
    width: auto;
    height: 50px;
    vertical-align: middle;
}
