
navbar {
    position: fixed;
    height: 90px;
    background-color: rgba(0, 0, 0, 0);
}

nav a {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 18px;
    color: #FFFFFF;
}

nav .navbar-toggle {
    margin: 13px 15px 13px 0;
}

nav.navbar.shrink {
    min-height: 35px;
    background-color: rgba(0, 0, 0, 0.5);
}

nav.shrink a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 15px;
}

nav.shrink .navbar-brand {
    font-size: 25px;
}

nav.shrink .navbar-toggle {
    padding: 4px 5px;
    margin: 8px 15px 8px 0;
}

.btn-lb {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 0px;
}

.btn-lb :: hover {
    background: none;
}

